{
    extends: [
        'standard'
    ],
    env: {
        'browser': true,
        'node': true,
        'jasmine': true,
        'amd': true,
        'commonjs': true,
        'es6': true
    },
    plugins: [
        'standard'
    ],

    rules: {
        'indent': [2, 4]
    }
}
